@import "normalize.css";
@import "fonts.css";

:root {
  --body-bg-color: #F2F2F2;
  --main-bg-color: #FFFFFF;
  --text-basic-color: #000000;
  --text-second-color: #333333;
  --text-hover-color: #756157;
  --text-active-color: rgba(117, 97, 87, 0.3);
  --text-background-deafault-color: #FFFFFF;
  --text-background-small-color: rgba(255, 255, 255, 0.3);
  --text-error-color: #FF5757;
  --button-basic-color: #756157;
  --button-basic-hover-color: #615048;
  --button-basic-disabled-color: #E5E5E5;
  --button-second-color: #82B3D3;
  --button-second-hover-color: #68A2CA;
  --button-second-disabled-color: #E5E5E5;
  --button-select-color: #7DB54F;
  --button-select-hover-color: #6C9E42;
  --button-select-disabled-color: #E5E5E5;
  --background-basic-2-color: #FFFFFF;
  --background-basic-3-color: #82B3D3;
  --background-second-1-color: rgba(131, 179, 211, 0.12);
  --background-second-2-color: rgba(131, 179, 211, 0.2);
  --icon-basic-color: #000000;
  --icon-second-color: #83B3D3;
  --icon-text-color: #7DB54F;
  --form-input-color: #3F5E72;
  --form-element-1-color: #E5E5E5;
  --form-element-2-color: #F2F2F2;
  --active-link-line-color: #756257;
  --advantages-item-first-type-line-color: rgba(0, 0, 0, 0.3);
  --advantages-item-second-type-line-color: rgba(255, 255, 255, 0.3);
  --icon-second-hover-color: #68A2CA;
  --icon-second-active-color: rgba(104, 162, 202, 0.3);
  --default-transition: all .1s linear 0s;
  --modal-overlay-background-color: rgba(242, 242, 242, 0.8);
  --background-basic-dark-color: #333333;
  --input-range-background-color: rgba(256,256,256,0.3);
  --input-range-active-background-color: #FFFFFF;
  --catalog-border-color: #E6E6E6;
}

body {
  background-color: var(--body-bg-color);
}

body.disable-scroll {
  overflow: hidden;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.visually-hidden {
  display: none;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

button.button {
  padding: 8px 50px;
  border-radius: 4px;
  border: none;
  color: var(--text-background-deafault-color);
  transition: var(--default-transition);
  font-family: 'PT Sans', serif;
  font-style: normal;
  cursor: pointer;
}

button.big {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

button.small {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

button.small-regular {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

button.small-regular-capitalize {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
}

button.button-basic:hover,
button.button-basic:focus {
  background-color: var(--button-basic-hover-color);
}
button.button-second:hover,
button.button-second:focus {
  background-color: var(--button-second-hover-color);
}
button.button-select:hover,
button.button-select:focus {
  background-color: var(--button-select-hover-color);
}
button.button-basic,
button.button-basic:active {
  background-color: var(--button-basic-color);
}
button.button-second,
button.button-second:active {
  background-color: var(--button-second-color);
}
button.button-select,
button.button-select:active {
  background-color: var(--button-select-color);
}
button.button-transparent {
  box-sizing: border-box;
  border: 3px solid transparent;
  background-color: transparent;
}
button.button-transparent:active {
  opacity: 0.3;
}
button.button-transparent:hover {
  opacity: 0.6;
}
button.button-transparent:focus {
  border: 3px solid #83B3D3;
}

.text-heading-1 {
  font-family: 'PT Sans', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.text-heading-2 {
  font-family: 'PT Sans', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.text-heading-3 {
  font-family: 'PT Sans', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.text-heading-3-uppercase {
  font-family: 'PT Sans', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.text-heading-4 {
  font-family: 'PT Sans', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.text-basic {
  font-family: 'PT Sans', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.text-block {
  font-family: 'PT Sans', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.text-small {
  font-family: 'PT Sans', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
